<footer class="site-footer">
	<div class="wrapper">
		<aside class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<p>{{ site.description }}</p>
			</div><!--/.footer-col-1-->
			<div class="footer-col footer-col-2">

				<p><a href="{{ site.baseurl }}/sources.html"><span class="icon icon--eye">{% include icon-eye.svg %}</span> Unofficial Transcript Source Index</a></p>

				<p><a target="_blank" href="https://drive.google.com/drive/folders/1qEN__yNsSuJK0YZf5F9-f3slxQOKqSiX"><span class="icon icon--link">{% include icon-link.svg %}</span> New Year's Day Official Transcript Archive</a></p>

				<p><a href="{{ site.baseurl }}/feed.xml"><span class="icon icon--feed">{% include icon-feed.svg %}</span> RSS Feed</a></p>

				<p><a target="_blank" href="https://github.com/raenv/personal-nyd-transcripts"><span class="icon icon--github">{% include icon-github.svg %}</span> <span class="username">raenv / personal-nyd-transcripts</span></a></p>

				<p><a target="_blank" href="{{ site.baseurl }}/cookies.html"><span class="icon icon--alert">{% include icon-alert.svg %}</span> Site Cookie Information</a></p>

			</div><!--/.footer-col-2-->
		</aside><!--/.footer-col-wrapper-->
	</div><!--/.wrapper-->
</footer>
